<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>PandaFlix</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
        <servlet-name>GiveMeMultimediaServlet</servlet-name>
        <servlet-class>controller.GiveMeMultimedia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GiveMeMultimediaServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>  

	<servlet>
        <servlet-name>GiveMeTVSerieServlet</servlet-name>
        <servlet-class>controller.GiveMeTVSerie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GiveMeTVSerieServlet</servlet-name>
        <url-pattern>/searchTV</url-pattern>
    </servlet-mapping> 
  
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>controller.CheckLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>AddFilmServlet</servlet-name>
        <servlet-class>controller.AddFilm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFilmServlet</servlet-name>
        <url-pattern>/addNewFilm</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>AddTVSerieServlet</servlet-name>
        <servlet-class>controller.AddTVSerie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTVSerieServlet</servlet-name>
        <url-pattern>/addNewTVSerie</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>controller.GiveMePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/GiveMePage</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>FilmServlet</servlet-name>
        <servlet-class>controller.AllFilm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilmServlet</servlet-name>
        <url-pattern>/film</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>TVSerieServlet</servlet-name>
        <servlet-class>controller.AllTVSerie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TVSerieServlet</servlet-name>
        <url-pattern>/tvserie</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>FavouriteServlet</servlet-name>
        <servlet-class>controller.GiveMeFavourite</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavouriteServlet</servlet-name>
        <url-pattern>/myFavourite</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.GoToCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/goToCart</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>WatchItServlet</servlet-name>
        <servlet-class>controller.WatchIt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WatchItServlet</servlet-name>
        <url-pattern>/watchIt</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>controller.SignOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>RestoreServlet</servlet-name>
        <servlet-class>controller.RestorePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestoreServlet</servlet-name>
        <url-pattern>/restore</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>ActionProfileServlet</servlet-name>
        <servlet-class>controller.ActionProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionProfileServlet</servlet-name>
        <url-pattern>/ActionProfile</url-pattern>
    </servlet-mapping> 

</web-app>
